PORT=3000

DATABASE_URL=postgresql://user:password@ep-xxxxx.neon.tech/dbname?sslmode=require

CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

JWT_SECRET=
